button.btnColor Color
br
.colors
  .colorContainer#white
  .colorContainer#lightgrey
  .colorContainer#darkgrey
  .colorContainer#black
  .colorContainer#pink
  .colorContainer#lightred
  .colorContainer#red
  .colorContainer#darkred
  .colorContainer#yellow
  .colorContainer#orange
  .colorContainer#darkorange
  .colorContainer#brown
  .colorContainer#yellowgreen
  .colorContainer#lightgreen
  .colorContainer#green
  .colorContainer#darkgreen
  .colorContainer#greenblue
  .colorContainer#lightblue
  .colorContainer#blue
  .colorContainer#violett
br