.sidebar.close-sidebar
  #sidebarCreateMessage.sidebarContent
    .sidebarUpper
      br
      button.btnEditorSelector Selector
      br
      br
      button.btnEditorPen Pen
      br
      br
      button.btnEditorText Text
      br
      br
      button.btnEditorEraser Eraser
      br
      br
      include strokeContainer
      include colorContainer
      button.btnEditorUndo UNDO
      button.btnEditorRedo REDO
      br
      button.imgTEST IMGTEST
    .sidebarLower
      hr
      button.btnSubmitMessage Submit
      br
      br
      button.btnMessage Back
      br
      br