.sidebar.close-sidebar
  #sidebarBackendRoomSettings.sidebarContent
    .sidebarUpper
      br
      p Stuff here
      p Backend - Room - Settings
    .sidebarLower
      hr
      button.btnLogout Logout
      br
      br
      button.btnBackendSettings Back
      br
      br