.sidebar.close-sidebar
  #sidebarBackendRoomSettings.sidebarContent
    .sidebarUpper
    .sidebarLower
      hr
      button.btnLogout Logout
      br
      br
      button.btnBackendSettings Back
      br
      br