.sidebar.close-sidebar
  #sidebarBackend.sidebarContent
    .sidebarUpper
      br
      button.btnSetStatus Set Status
      br
      br
      button.btnChangeContent Change Content
      br
      br
      button.btnViewMessages View Messages
      br
      br
      button.btnUserSettings User Settings
    .sidebarLower
      hr
      button.btnLogout Logout
      br
      br
      button.btnBack Back
      br
      br