.sidebar.close-sidebar
  #sidebarUserSettings.sidebarContent
    .sidebarUpper
    .sidebarLower
      hr
      button.btnLogout Logout
      br
      br
      button.btnBackend Back
      br
      br