.sidebar.close-sidebar
  #sidebarMain.sidebarContent
    .sidebarUpper
      br
    .sidebarLower
      hr
      button.btnMessage Message
      br
      br
      button.btnFeedback Feedback
      br
      br
      button.btnUserBackend User Settings
      br
      br
  .sidebarSwiper