.sidebar.close-sidebar
  #sidebarFeedback.sidebarContent
    .sidebarUpper
      br
      p Stuff here
      p Feedback
    .sidebarLower
      hr
      button.btnSubmitFeedback Submit
      br
      br
      button.btnBack Back
      br
      br