.sidebar.close-sidebar
  #sidebarViewMessages.sidebarContent
    .sidebarUpper
      br
      button 2015-01-01 12:00
      button 2015-02-01 08:00
      br
      p ...
    .sidebarLower
      hr
      button.btnLogout Logout
      br
      br
      button.btnBackend Back
      br
      br