.sidebar.close-sidebar
  #sidebarBackendSettings.sidebarContent
    .sidebarUpper
      br
      button.btnUserSettings Users
      br
      br
      button.btnRoomSettings Board
      br
      br
      button.btnLogs Logs
    .sidebarLower
      hr
      button.btnLogout Logout
      br
      br
      button.btnBackend Back
      br
      br