.sidebar.close-sidebar
  #sidebarBackendLogs.sidebarContent
    .sidebarUpper
      br
      p Stuff here
      p Backend - Logs
    .sidebarLower
      hr
      button.btnLogout Logout
      br
      br
      button.btnBackendSettings Back
      br
      br