.sidebar.close-sidebar
  #sidebarUserBackend.sidebarContent
    .sidebarUpper
      br
      button.btnSetStatus Set Status
      br
      button.btnChangeContent Change Content
      br
      button.btnViewMessages View Messages
      br
      button.btnUserSettings User Settings
    .sidebarLower
      button.btnLogout Logout
      br
      button.btnBack Back
      br
      br