.sidebar.close-sidebar
  #sidebarChangeContent.sidebarContent
    .sidebarUpper
      br
      p Stuff here
      p Change Content
    .sidebarLower
      hr
      button.btnSubmitChangeContent Change
      br
      br
      button.btnBackend Back
      br
      br