.sidebar.close-sidebar
  #sidebarChangeStatus.sidebarContent
    .sidebarUpper
    .sidebarLower
      hr
      button.btnSubmitStatusChange Set
      br
      br
      button.btnLogout Logout
      br
      br
      button.btnUserBackend Back
      br
      br