.sidebar.close-sidebar
  #sidebarChangeContent.sidebarContent
    .sidebarUpper
    .sidebarLower
      hr
      button.btnSubmitChangeContent Change
      br
      br
      button.btnChangeBackground Change Background
      br
      br
      button.btnUserBackend Back
      br
      br