.sidebar.close-sidebar
  #sidebarFeedback.sidebarContent
    .sidebarUpper
    .sidebarLower
      hr
      button.btnSubmitFeedback Submit
      br
      br
      button.btnBack Back
      br
      br