.sidebar.close-sidebar
  #sidebarCreateMessage.sidebarContent
    .sidebarUpper
      br
      button.btnEditorSelector Selector
      br
      br
      button.btnEditorPen Pen
      br
      br
      button.btnEditorText Text
      br
      br
      button.btnEditorEraser Eraser
      br
      br
      //button.btnEditorStrokeSize Stroke Size
      include strokeContainer
      //button.btnEditorColor Color
      include colorContainer
      button.btnEditorUndo UNDO
      button.btnEditorRedo REDO
    .sidebarLower
      hr
      button.btnSubmitMessage Submit
      br
      br
      button.btnMessage Back
      br
      br