.sidebar.close-sidebar
  #sidebarCreateMessage.sidebarContent
    .sidebarUpper
      br
      button.btnEditorSelector(title='Selector')
        span.glyphicon.glyphicon-edit
      button.btnEditorPen(title='Pen')
        span.glyphicon.glyphicon-pencil
      br
      button.btnEditorText(title='Text')
        span.glyphicon.glyphicon-font
      button.btnEditorEraser(title='Eraser')
        span.glyphicon.glyphicon-erase
      br
      button.btnEditorColor(title='Color')
        span.glyphicon.glyphicon-text-color
      button.btnEditorStroke(title='Stroke Size')
        span.glyphicon.glyphicon-minus
          .minStroke.strokeTile
            div
      br
      button.btnEditorUndo(title='Undo')
        span.glyphicon.glyphicon-step-backward
      button.btnEditorRedo(title='Redo')
        span.glyphicon.glyphicon-step-forward
    .sidebarLower
      button.btnSubmitMessage Submit
      br
      button#askToLeave Back
      br
      br