.sidebar.close-sidebar
  #sidebarCreateMessage.sidebarContent
    .sidebarUpper
      br
      p Stuff here
      p Create a Message
      p show the selected Persons here
      br
      button.btnEditorSelector Selector
      br
      br
      button.btnEditorPen Pen
      br
      br
      button.btnEditorText Text
      br
      br
      button.btnEditorEraser Eraser
      br
      br
      button.btnEditorStrokeSize Stroke Size
      br
      br
      button.btnEditorColor Color
      br
      br
      button.btnEditorUndo UNDO
      button.btnEditorRedo REDO
    .sidebarLower
      hr
      button.btnSubmitMessage Submit
      br
      br
      button.btnMessage Back
      br
      br