.sidebar.close-sidebar
  #sidebarChangeContent.sidebarContent
    .sidebarUpper
      br
      button.btnEditorSelector Selector
      br
      br
      button.btnEditorPen Pen
      br
      br
      button.btnEditorText Text
      br
      br
      button.btnEditorEraser Eraser
      br
      br
      include strokeContainer
      include colorContainer
      button.btnEditorUndo UNDO
      button.btnEditorRedo REDO
    .sidebarLower
      hr
      button.btnSubmitChangeContent Change
      br
      br
      button.btnChangeBackground Change Background
      br
      br
      button.btnUserBackend Back
      br
      br