.sidebar.close-sidebar
  #sidebarChangeStatus.sidebarContent
    .sidebarUpper
      br
      p Stuff here
      p change Status
    .sidebarLower
      hr
      button.btnSubmitStatusChange Set
      br
      br
      button.btnLogout Logout
      br
      br
      button.btnBackend Back
      br
      br