.sidebar.close-sidebar
  #sidebarBackendUserSettings.sidebarContent
    .sidebarUpper
      br
      p Stuff here
      p Backend - User - Settings
    .sidebarLower
      hr
      button.btnLogout Logout
      br
      br
      button.btnBackendSettings Back
      br
      br