.sidebar.close-sidebar
  #sidebarBackendSettings.sidebarContent
    .sidebarUpper
      br
      p Stuff here
      p Backend - Settings
      br
      button.btnUserSettings Users
      br
      br
      button.btnRoomSettings Room
      br
      br
      button.btnLogs Logs
    .sidebarLower
      hr
      button.btnLogout Logout
      br
      br
      button.btnBackend Back
      br
      br