.sidebar.close-sidebar
  #sidebarCreateMessage.sidebarContent
    .sidebarUpper
      br
      p Stuff here
      p Create a Message
      p show the selected Persons here
    .sidebarLower
      hr
      button.btnSubmitMessage Submit
      br
      br
      button.btnMessage Back
      br
      br