.sidebar.close-sidebar
  #sidebarMessages.sidebarContent
    .sidebarUpper
      br
      p Stuff here
      p Messages
      br
      br
      button.btnCreateMessage create Message
      br
      br
      button.btnCreateMessageForAll create Message to All
      br
      br
      button.btnCreateMessageQR generate QR code
    .sidebarLower
      hr
      button.btnBack Back
      br
      br