.strokeContainer
  .stroke
    .strokeMin
    .strokeSmall
    .strokeBig
    .strokeMax
  .stroke.strokeSelected
    .strokeMin
    .strokeSmall
    .strokeBig
    .strokeMax
  .stroke
    .strokeMin
    .strokeSmall
    .strokeBig
    .strokeMax
  .stroke
    .strokeMin
    .strokeSmall
    .strokeBig
    .strokeMax