.strokeContainer
  .stroke.strokeSelected#strokeA
    .strokeMin.strokeBar
  .stroke#strokeB
    .strokeSmall.strokeBar
  .stroke#strokeC
    .strokeBig.strokeBar
  .stroke#strokeD
    .strokeMax.strokeBar