doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='shortcut icon' type='image/x-icon' href='/favicon.ico')
  body
    block admin
    script(type='text/javascript' src='/node_modules/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/node_modules/paper/dist/paper-full.js')
    script(type='text/javascript' src='/node_modules/crypto-js/crypto-js.js')
    script(type='text/javascript' src='/node_modules/moment/moment.js')
    script(type='text/javascript' src='/javascripts/editor/editorImages.js' canvas='EditorCanvas')
    script(type='text/javascript' src='/javascripts/admin/global.js')
    script(type='text/javascript' src='/javascripts/admin/boardSettings.js')
    script(type='text/javascript' src='/javascripts/admin/roomSettings.js')
    script(type='text/javascript' src='/javascripts/admin/userSettings.js')
    script(type='text/javascript' src='/javascripts/admin/logging.js')