doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    block admin
    script(type='text/javascript' src='/node_modules/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/javascripts/admin/global.js')
    script(type='text/javascript' src='/javascripts/admin/newBoard.js')
    script(type='text/javascript' src='/javascripts/admin/roomSettings.js')
    script(type='text/javascript' src='/javascripts/admin/users.js')