extends adminlayout
block admin
  h1#logo BAUHAUSBOARDS ADMIN
  #content
    form#typearea
      p Mailaddress
      input(id='mailaddress')
      br
      br
      p Password
      input(id='password' type='password')
      br
      br
      button#login Login