extend layout
block heading
  h2 Main View
block sidebar
  include includes/sidebars/sidebarMainView
block content
  ul
    li
      p
        | Wenn die sidebar ausgeklappt ist soll
        | diese einfach nur absolut über dem Content
        | stehen css: z-index
    li
      p
        | Wenn Editor-ratio muss immer die selbe sein,
        | Tablet-ratio muss daher beim initialisieren ausgelesen und
        | abgespeichert werden (spätere anpassung möglich)
    li
      p
        | wenn jetzt eine andere Auflösung genutzt wird muss der content
        | gescaled werden
  br