extends layout

block content
  include sidebars/sidebarMain
  include sidebars/sidebarMessages
  include sidebars/sidebarBackend
  include sidebars/sidebarSettings
  include sidebars/sidebarCreateMessage
  include sidebars/sidebarFeedback
  include sidebars/sidebarChangeStatus
  include sidebars/sidebarChangeContent
  include sidebars/sidebarViewMessages
  include sidebars/sidebarBackendUserSettings
  include sidebars/sidebarBackendRoomSettings
  include sidebars/sidebarBackendLogs
  #wrapper
    #header
    #content
      canvas#EditorCanvas(resize)
      #gifLayer
      include contents/settings
      canvas#tabletSizePreview(resize)