extends layout

block content
  include sidebars/sidebarMain
  include sidebars/sidebarMessages
  include sidebars/sidebarBackend
  include sidebars/sidebarSettings
  include sidebars/sidebarCreateMessage
  include sidebars/sidebarFeedback
  include sidebars/sidebarChangeStatus
  include sidebars/sidebarChangeContent
  include sidebars/sidebarViewMessages
  #wrapper
    #header
      p header
    #content
      p content