doctype
html
  head
    title BauhausBoards - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .sidebar
      block sidebar
    content
      header
        block heading
      .main-content
        block content