doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/node_modules/jquery/dist/jquery.min.js')
    script(src='/node_modules/jquery-touchswipe/jquery.touchSwipe.min.js')
    script(src='/node_modules/paper/dist/paper-full.js')
    //script(type='text/javascript' src='/javascripts/lodash.js')
    script(type='text/javascript' src='/javascripts/editorUndoRedo.js' canvas='EditorCanvas')
    script(type='text/javascript' src='/javascripts/editorSelector.js' canvas='EditorCanvas')
    script(type='text/javascript' src='/javascripts/editorColors.js' canvas='EditorCanvas')
    script(type='text/javascript' src='/javascripts/editorPen.js' canvas='EditorCanvas')
    script(type='text/javascript' src='/javascripts/editorText.js' canvas='EditorCanvas')
    script(type='text/javascript' src='/javascripts/editorStrokeSize.js' canvas='EditorCanvas')
    script(type='text/javascript' src='/javascripts/editorEraser.js' canvas='EditorCanvas')
    script(type='text/javascript' src='/javascripts/editorImages.js' canvas='EditorCanvas')
    script(type='text/javascript' src='/javascripts/editor.js' canvas='EditorCanvas')
    script(src='/javascripts/global.js')