doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/node_modules/jquery/dist/jquery.min.js')
    script(src='/node_modules/jquery-touchswipe/jquery.touchSwipe.min.js')
    script(src='/node_modules/paper/dist/paper-full.js')
    script(type='text/paperscript' src='/javascripts/editor.js' canvas='drawMessage')
    script(src='/javascripts/global.js')