doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/afterBootstrap.css')
    link(rel='shortcut icon' type='image/x-icon' href='/favicon.ico')
  body
    block content
    script(type='text/javascript' src='/node_modules/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/node_modules/paper/dist/paper-full.js')
    script(type='text/javascript' src='/node_modules/moment/moment.js')
    script(type='text/javascript' src='/javascripts/showMessage.js')
