.sidebar
  #sidebarContent
    #sidebarUpper
      br
      button.btnUser User1
      br
      br
      button.btnUser User2
    #sidebarLower
      hr
      button#btnMessage Message
      br
      br
      button#btnFeedback Feedback
      br
      br
      button#btnBackend Backend
      br
      br
  #sidebarSwiper