.sidebar.close-sidebar
  #sidebarBackend.sidebarContent
    .sidebarUpper
      br
      p Stuff here
      p Backend
      br
      button.btnBackendSettings Settings
    .sidebarLower
      hr
      button.btnBack Back
      br
      br