.sidebar.close-sidebar
  #sidebarBackendSettings.sidebarContent
    .sidebarUpper
      br
      p Stuff here
      p Backend - Settings
    .sidebarLower
      hr
      button.btnBackend Back
      br
      br