@import 'nib'
global-reset()

body
  text-align center

#logo
  text-align center
#typearea
  margin 0 auto
  width 80%
  text-align center
#mailaddress
  width 200px
#password
  width 200px
#content
  display inline-block
  width 100%
  
#popupBackground
  background-color rgba(77,77,77,.3)
  width 100%
  height 100%
  position absolute
  top 0
  left 0
#popup
  position absolute
  width 50%
  top 100px
  background-color white
  min-width 475px
#floaty
  position absolute
  width 350px
  background-color rgba(255,255,255,.95)
  top -350px
  border-radius 8px
  border 2px solid black
  pointer-events none
  z-index 2
#connectedBoardsTable button
  width inherit
#picDiv
  float right
  width 65%
#picURLInput
  float right
  margin-right 0
#picUploadButton
  width 100%
#adminDiv
  float right
  width 60%
#adminDiv input
  float left

.containerTile
  display inherit
  margin 5px
  width 150px
  height 150px
  background-color rgba(180,180,180,1)
  cursor pointer
  font-size 120px
  border-radius 5px
  margin-top 50px
.containerTileAbs
  margin 5px
  position absolute
  right 0
  top 0
  z-index 1
  width 100px
  height 100px
  font-size 80px
.secondAbsTile
  right 105px
.clear
  clear both
.ajaxTable
  width 80%
  margin 0 auto
  border-color black
  margin-top 10px
.ajaxTable thead th
  font-weight bold
  border 1px solid black
  padding 2px
  text-align center
.ajaxTable tbody td
  border 1px solid black
  padding 2px
  text-align center
.ajaxTable tbody tr:hover
  background-color grey
.popupConfirm
  width 300px
  display inline-block
.popupConfirm button
  margin 10px
  width calc(50% - 20px)
.popupConfirm label
  float left
  margin 5px
.popupConfirm input
  float right
  margin 5px
.popupConfirm select
  float right
  width 75%
  margin 5px
.popupConfirm textarea
  float right
  resize none
  height 100px
  margin 5px
.popupConfirm fieldset
  float right
  margin 5px
  width 100%

.popupConfirm fieldset label
  float left
.popupConfirm fieldset input
  float left