html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  text-align: center;
}
#logo {
  text-align: center;
}
#typearea {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
#mailaddress {
  width: 200px;
}
#password {
  width: 200px;
}
#content {
  display: inline-block;
  width: 100%;
}
#popupBackground {
  background-color: rgba(77,77,77,0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#popup {
  position: fixed;
  width: 50%;
  top: 100px;
  background-color: #fff;
  min-width: 475px;
}
#floaty {
  position: fixed;
  width: 350px;
  background-color: rgba(255,255,255,0.95);
  top: -350px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #000;
  pointer-events: none;
  z-index: 2;
}
#connectedBoardsTable button {
  width: inherit;
}
#picDiv {
  float: right;
  width: 65%;
}
#picURLInput {
  float: right;
  margin-right: 0;
}
#picUploadButton {
  width: 100%;
}
#adminDiv {
  float: right;
  width: 60%;
}
#adminDiv input {
  float: left;
}
.containerTile {
  display: inherit;
  margin: 5px;
  width: 150px;
  height: 150px;
  background-color: #b4b4b4;
  cursor: pointer;
  font-size: 120px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 50px;
}
.containerTileAbs {
  margin: 5px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100px;
  height: 100px;
  font-size: 80px;
}
.secondAbsTile {
  right: 105px;
}
.clear {
  clear: both;
}
.ajaxTable {
  width: 80%;
  margin: 0 auto;
  border-color: #000;
  margin-top: 10px;
}
.ajaxTable thead th {
  font-weight: bold;
  border: 1px solid #000;
  padding: 2px;
  text-align: center;
}
.ajaxTable tbody td {
  border: 1px solid #000;
  padding: 2px;
  text-align: center;
}
.ajaxTable tbody tr:hover {
  background-color: #808080;
}
.popupConfirm {
  width: 300px;
  display: inline-block;
}
.popupConfirm button {
  margin: 10px;
  width: calc(50% - 20px);
}
.popupConfirm label {
  float: left;
  margin: 5px;
}
.popupConfirm input {
  float: right;
  margin: 5px;
}
.popupConfirm select {
  float: right;
  width: 75%;
  margin: 5px;
}
.popupConfirm textarea {
  float: right;
  resize: none;
  height: 100px;
  margin: 5px;
}
.popupConfirm fieldset {
  float: right;
  margin: 5px;
  width: 100%;
}
.popupConfirm fieldset label {
  float: left;
}
.popupConfirm fieldset input {
  float: left;
}
