@import 'nib'
global-reset()

body
  text-align center

#logo
  text-align center
#typearea
  margin 0 auto
  width 80%
  text-align center
#mailaddress
  width 200px
#password
  width 200px
#content
  display inline-block
  width 100%
.containerTile
  display inherit
  width 150px
  margin 5px
  height 150px
  background-color green
.containerTileAbs
  position absolute
  right 0
  top 0
  height 75px
.clear
  clear both
.ajaxTable
  width 80%
  margin 0 auto
  border-color black
  margin-top 10px
.ajaxTable thead th
  font-weight bold
  border 1px solid black
  padding 2px
.ajaxTable tbody td
  border 1px solid black
  padding 2px