@import 'nib'
global-reset()

body
  text-align center

#logo
  text-align center
#typearea
  margin 0 auto
  width 80%
  text-align center
#mailaddress
  width 200px
#password
  width 200px
#content
  display inline-block
  width 100%
.containerTile
  display inherit
  width 150px
  margin 5px
  height 150px
  background-color green
.clear
  clear both