@import 'nib'
global-reset()

header-hight = 100px
sidebar-width = 200px
swiper-width = 35px
stroke-height = 25px

border-transition(n)
  -webkit-transition left n ease-in-out
  -moz-transition left n ease-in-out
  -ms-transition left n ease-in-out
  -o-transition left n ease-in-out
  transition left n ease-in-out
popup-transition(n)
  -webkit-transition fadein n
  -moz-transition fadein n
  -ms-transition fadein n
  -o-transition fadein n
  transition fadein n

html,body,#wrapper
  height 100%
  
//CLASSES
.sidebar
  position absolute
  height 100%
  border-transition(0.4s)
  background-color rgba(150,150,150,0.8)
  z-index 10
.sidebarContent
  width sidebar-width
  text-align center
  float left
  height 100%
.sidebarSwiper
  width swiper-width
  height 100%
  left sidebar-width
  text-align center
  vertical-align middle
  float left
  background-color rgba(150,150,150,0.4)
  z-index 10
.sidebarLower
  width sidebar-width
  position absolute
  bottom 0

.close-sidebar
  left -200px
.open-sidebar
  left 0px

.strokeSizes
  width inherit
  overflow auto
  //height 100%
  background-color rgba(255,255,255,.2)
  border-radius 3px
  visibility hidden
  position absolute
  left 0
  top 0
.stroke
  float left
  margin 2px
  //background-color white
  border-radius 3px
  border solid 1px
  border-color grey
  width calc(25% - 6px)
  height stroke-height
.strokeBar
  width 100%
  background-color grey
  border-radius 3px
.strokeMin
  height 25%
.strokeSmall
  height 50%
.strokeBig
  height 75%
.strokeMax
  height 100%

//IDs
#sidebarMain
  visibility visible
  
#sidebarBackend
  position absolute
  visibility hidden
#sidebarMessages
  position absolute
  visibility hidden
#sidebarCreateMessage
  position absolute
  visibility hidden
#sidebarFeedback
  position absolute
  visibility hidden
#sidebarChangeStatus
  position absolute
  visibility hidden
#sidebarChangeContent
  position absolute
  visibility hidden
#sidebarViewMessages
  position absolute
  visibility hidden
#sidebarBackendUserSettings
  position absolute
  visibility hidden
#sidebarBackendRoomSettings
  position absolute
  visibility hidden
#sidebarBackendLogs
  position absolute
  visibility hidden
  
#header
  background-color #aaaaaa
  padding-left "calc(%s + 10px)" %swiper-width
  height header-hight
#content
  background-color #777777
  text-align center
  height "calc(100% - %s)" %header-hight
#sidebarBackendSettings
  position absolute
  visibility hidden
#EditorCanvas
  visibility hidden
  position absolute
  left 0
  width 100%
  height inherit
  height "calc(100% - %s)" %header-hight