html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body,
#wrapper {
  height: 100%;
  background-color: #e6e6e6;
}
.clear {
  clear: both;
}
.sidebar {
  position: absolute;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
  background-color: rgba(200,200,200,0.8);
  z-index: 10;
}
.sidebarContent {
  width: 200px;
  text-align: center;
  float: left;
  height: 100%;
}
.sidebarSwiper {
  width: 35px;
  height: 100%;
  left: 200px;
  text-align: center;
  vertical-align: middle;
  float: left;
  background-color: rgba(0,0,0,0.1);
  z-index: 10;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sidebarLower {
  width: 200px;
  position: absolute;
  bottom: 0;
}
.close-sidebar {
  left: -200px;
}
.open-sidebar {
  left: 0px;
}
.strokeSizes {
  width: inherit;
  overflow: auto;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.stroke {
  float: left;
  margin: 2px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px;
  border-color: #000;
  width: calc(25% - 6px);
  height: 25px;
}
.strokeBar {
  width: 100%;
  background-color: #000;
  border-bottom: solid 1px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.strokeMin {
  height: 25%;
}
.strokeSmall {
  height: 50%;
}
.strokeBig {
  height: 75%;
}
.strokeMax {
  height: 100%;
}
.colors {
  width: inherit;
  overflow: auto;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.colorContainer {
  float: left;
  margin: 2px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px;
  width: calc(25% - 6px);
  height: 25px;
  background-color: #fff;
}
.activeColor {
  border-color: #f00;
}
.btnColor {
  background-color: #000;
  color: #fff;
  border: 1px;
}
.glyphicon-refresh-animate {
  -animation: spin 0.7s infinite linear;
  -webkit-animation: spin2 0.7s infinite linear;
}
.textContent {
  left: 50px;
  height: inherit;
  width: 90%;
}
.textContentUpper {
  visibility: inherit;
}
.textContentLower {
  visibility: inherit;
}
.ajaxTable {
  width: 100%;
  border-color: #000;
  margin-top: 10px;
}
.ajaxTable thead th {
  font-weight: bold;
  border: 1px solid #000;
  padding: 2px;
}
.ajaxTable tbody td {
  border: 1px solid #000;
  padding: 2px;
}
.cancelForm {
  float: left;
}
.submitForm {
  float: right;
}
.popupBackground {
  background-color: rgba(77,77,77,0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.popupConfirm {
  width: 300px;
  display: inline-block;
}
.popupConfirm button {
  margin: 10px;
  width: calc(50% - 20px);
}
.roomUsers {
  max-height: 250px;
  width: 100%;
  display: inline-block;
  overflow-y: scroll;
  word-break: break-all;
}
.userTile {
  width: 210px;
  height: 120px;
  word-break: break-all;
  margin: 5px;
  display: inline-block;
}
.userTile div {
  height: 100px;
  width: 100px;
  display: inline-block;
}
.userTile div img {
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
#sidebarMain {
  visibility: visible;
}
#sidebarUserBackend {
  position: absolute;
  visibility: hidden;
}
#sidebarMessages {
  position: absolute;
  visibility: hidden;
}
#sidebarCreateMessage {
  position: absolute;
  visibility: hidden;
}
#sidebarFeedback {
  position: absolute;
  visibility: hidden;
}
#sidebarChangeStatus {
  position: absolute;
  visibility: hidden;
}
#sidebarChangeContent {
  position: absolute;
  visibility: hidden;
}
#sidebarViewMessages {
  position: absolute;
  visibility: hidden;
}
#sidebarUserSettings {
  position: absolute;
  visibility: hidden;
}
#header {
  position: absolute;
  right: 0px;
  top: 0;
  width: 450px;
  background-color: #c8c8c8;
  height: 150px;
  z-index: 1;
  border-bottom-left-radius: 10px;
}
#content {
  text-align: center;
  height: 100%;
}
#sidebarBackendSettings {
  position: absolute;
  visibility: hidden;
}
#EditorCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#white {
  background-color: #fff;
}
#lightgrey {
  background-color: #aaa;
}
#darkgrey {
  background-color: #555;
}
#black {
  background-color: #000;
}
#pink {
  background-color: #ff69b4;
}
#lightred {
  background-color: #e74c3c;
}
#red {
  background-color: #f00;
}
#darkred {
  background-color: #800000;
}
#yellow {
  background-color: #ff0;
}
#orange {
  background-color: #ffa500;
}
#darkorange {
  background-color: #ff8c00;
}
#brown {
  background-color: #8b4513;
}
#yellowgreen {
  background-color: #adff2f;
}
#lightgreen {
  background-color: #7cfc00;
}
#green {
  background-color: #0f0;
}
#darkgreen {
  background-color: #006400;
}
#greenblue {
  background-color: #00fa9a;
}
#lightblue {
  background-color: #87cefa;
}
#blue {
  background-color: #4169e1;
}
#darkblue {
  background-color: #000080;
}
#popupSelector {
  position: absolute;
  overflow: auto;
  background-color: #fff;
}
#gifLayer {
  position: absolute;
  left: 0;
  width: 100%;
  height: inherit;
  pointer-events: none;
  overflow: hidden;
}
#imageDropLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}
#loadingAnimation {
  position: absolute;
  pointer-events: none;
  padding: 3px;
  background-color: rgba(0,0,0,0.2);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#settings {
  position: absolute;
  visibility: hidden;
  text-align: left;
}
#tabletSizePreview {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
#uImg {
  max-width: 100%;
  max-height: 100%;
  height: inherit;
  float: right;
}
#newBoard {
  margin: 0 auto;
  position: absolute;
  visibility: hidden;
  left: 50%;
  width: 400px;
  display: inline-block;
}
#newRoomForm {
  width: 100%;
}
#newRoomForm input {
  width: 300px;
}
#newRoomForm textarea {
  width: inherit;
  height: 200px;
  resize: none;
}
#popup {
  position: absolute;
  width: 50%;
  top: 50px;
  background-color: #fff;
  min-width: 475px;
  z-index: 13;
  text-align: center;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
}
#popup #statusDiv {
  display: inline-block;
  max-width: 500px;
}
#popup #statusDiv label {
  float: left;
  margin: 5px;
}
#popup #statusDiv input {
  float: right;
  margin: 5px;
}
#popup #statusDiv button {
  margin: 5px;
}
#popupBackground1 {
  z-index: 11;
}
#popupBackground2 {
  z-index: 12;
}
#userInfo {
  width: calc(100% - 150px);
  height: inherit;
  float: left;
  padding: 10px;
  word-wrap: break-word;
}
#userImage {
  width: 150px;
  height: inherit;
  float: left;
}
#userImage img {
  float: right;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
#userInfo hr {
  margin-top: 8px;
  margin-bottom: 8px;
}
#userName {
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(255,255,255,0.5);
}
#userDescription {
  padding: 5px;
}
#userStatus {
  padding-left: 5px;
}
#userStatus div {
  float: right;
  text-align: right;
}
#floaty {
  position: fixed;
  width: 350px;
  background-color: rgba(255,255,255,0.95);
  top: -350px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  pointer-events: none;
  z-index: 14;
  text-align: center;
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}
@-moz-keyframes spin {
  from {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
  }
}
