html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body,
#wrapper {
  height: 100%;
}
.sidebar {
  position: absolute;
  height: 100%;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
  background-color: rgba(150,150,150,0.8);
  z-index: 10;
}
.sidebarContent {
  width: 200px;
  text-align: center;
  float: left;
  height: 100%;
}
.sidebarSwiper {
  width: 35px;
  height: 100%;
  left: 200px;
  text-align: center;
  vertical-align: middle;
  float: left;
  background-color: rgba(150,150,150,0.4);
  z-index: 10;
}
.sidebarLower {
  width: 200px;
  position: absolute;
  bottom: 0;
}
.popupStrokeSize {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #121212;
}
.close-sidebar {
  left: -200px;
}
.open-sidebar {
  left: 0px;
}
.strokeContainer {
  width: inherit;
  overflow: auto;
  padding: 5px;
  margin: 0 auto;
}
.stroke {
  float: left;
  width: 25%;
  margin: inherit;
  overflow: auto;
  visibility: hidden;
  position: absolute;
  background-color: rgba(255,255,255,0.2);
}
.strokeSelected {
  visibility: inherit;
  position: inherit;
  float: none;
}
.strokeMin {
  margin-top: 3px;
  width: 90%;
  height: 4px;
  background-color: #d3d3d3;
  margin: 0 auto;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.strokeSmall {
  width: 90%;
  height: 8px;
  background-color: #808080;
  margin: inherit;
  margin-top: 3px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.strokeBig {
  width: 90%;
  height: 12px;
  background-color: #808080;
  margin: inherit;
  margin-top: 3px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.strokeMax {
  width: 90%;
  height: 16px;
  background-color: #808080;
  margin: inherit;
  margin-top: 3px;
  margin-bottom: 3px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
#sidebarMain {
  visibility: visible;
}
#sidebarBackend {
  position: absolute;
  visibility: hidden;
}
#sidebarMessages {
  position: absolute;
  visibility: hidden;
}
#sidebarCreateMessage {
  position: absolute;
  visibility: hidden;
}
#sidebarFeedback {
  position: absolute;
  visibility: hidden;
}
#sidebarChangeStatus {
  position: absolute;
  visibility: hidden;
}
#sidebarChangeContent {
  position: absolute;
  visibility: hidden;
}
#sidebarViewMessages {
  position: absolute;
  visibility: hidden;
}
#sidebarBackendUserSettings {
  position: absolute;
  visibility: hidden;
}
#sidebarBackendRoomSettings {
  position: absolute;
  visibility: hidden;
}
#sidebarBackendLogs {
  position: absolute;
  visibility: hidden;
}
#header {
  background-color: #aaa;
  padding-left: calc(35px + 10px);
  height: 100px;
}
#content {
  background-color: #777;
  text-align: center;
  height: calc(100% - 100px);
}
#sidebarBackendSettings {
  position: absolute;
  visibility: hidden;
}
#EditorCanvas {
  visibility: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  height: inherit;
  height: calc(100% - 100px);
}
