@import 'nib'
//custom font from google
@import url ('http://fonts.googleapis.com/css?family=Quicksand')
global-reset()

header-height = 100px
sidebar-width = 150px
sidebar-left-index = 0px
//sidebar-left-index = -125px

html,body
  height 100%
header
  height header-height
  text-align center
  background-color #aaaaaa
.sidebar
  position absolute
  z-index 1

  left sidebar-left-index

  float left
  width sidebar-width
  height 100%
  background-color #777777
content
  width 100%
  height 100%
.main-content
  position absolute
  //display inline-block
  z-index 0
  //top header-height
  //width  "calc(100% - %s)" %sidebar-width
  width 100%
  height "calc(100% - %s)" %header-height
  background-color #dddddd
.main-content ul
  padding-left sidebar-left-index + sidebar-width + 50px
  list-style disc
