@import 'nib'
global-reset()

header-hight = 120px //tablet size
header-hight = 20% //tablet size
sidebar-width = 200px
swiper-width = 35px
stroke-height = 25px
sidebar-border-radius = 10px
main-color = rgba(0,102,153,1)
main-color-transparent = rgba(0,102,153,0.8)
button-color = rgba(41,106,139,1)
button-border-color = rgba(27,71,93,1)
button-selected-color = rgba(27,71,93,1)
popup-color = rgba(51,132,173,1)

border-transition(n)
  -webkit-transition left n ease-in-out
  -moz-transition left n ease-in-out
  -ms-transition left n ease-in-out
  -o-transition left n ease-in-out
  transition left n ease-in-out

html,body,#wrapper
  height 100%
  //font-family "Helvetica Neue",Helvetica,Arial,sans-serif
  font-family Arial,"Helvetica Neue",Helvetica,sans-serif
  //background-color rgba(240,240,240,1)
button:focus
  outline 0
#boardOptions
  color black
//CLASSES
.clear
  clear both
.sidebar
  position absolute
  height 100%
  border-top-right-radius sidebar-border-radius
  border-bottom-right-radius sidebar-border-radius
  border-transition(0.4s)
  font-weight bold
  //background-color rgba(200,200,200,0.8)
  background-color main-color-transparent
  //background-color main-color
  z-index 10
.sidebarContent
  width sidebar-width
  text-align center
  float left
  height 100%
.sidebarSwiper
  width swiper-width
  height 100%
  left sidebar-width
  text-align center
  vertical-align middle
  float left
  background-color rgba(0,0,0,0.2)
  z-index 10
  border-top-right-radius sidebar-border-radius
  border-bottom-right-radius sidebar-border-radius
.sidebarLower
  width sidebar-width
  position absolute
  bottom 0
  padding-right 5px
.sidebarLower button
  width 80%
  height 35px
  margin 5px
  background-color button-color
  color white
  //border 1px solid white
  border 2px solid button-border-color

.close-sidebar
  left -200px
.open-sidebar
  left 0px

.strokeSizes
  width inherit
  overflow auto
  //height 100%
  //background-color rgba(255,255,255,.2)
  border-radius 3px
  visibility hidden
  position absolute
  left 0
  top 0
.stroke
  float left
  margin 2px
  //background-color white
  border-radius 3px
  border solid 1px
  border-color black
  width calc(25% - 6px)
  height stroke-height
.strokeBar
  width 100%
  background-color black
  border-bottom solid 1px
  border-radius 3px


.colors
  width inherit
  overflow auto
  //background-color rgba(255,255,255,.2)
  border-radius 3px
  visibility hidden
  position absolute
  left 0
  top 0
.colorContainer
  float left
  margin 2px
  border-radius 3px
  border solid 1px
  width calc(25% - 6px)
  height stroke-height
  background-color white
.activeColor
  border-color red
.btnColor
  background-color rgba(0,0,0,1)
  color rgba(255,255,255,1)
  border 1px

.glyphicon-refresh-animate 
  -animation spin .7s infinite linear
  -webkit-animation spin2 .7s infinite linear


.textContent
  //width inherit
  left 50px
  height inherit
  width 90%
.textContentUpper
  visibility inherit
.textContentLower
  visibility inherit
.ajaxTable
  width 100%
  border-color black
  margin-top 10px
.ajaxTable thead th
  font-weight bold
  border 1px solid black
  padding 2px

.ajaxTable tbody td
  border 1px solid black
  padding 2px

.cancelForm
  float left
.submitForm
  float right

.popupBackground
  background-color rgba(77,77,77,.3)
  width 100%
  height 100%
  position fixed
  top 0
  left 0
.popupConfirm
  width 300px
  display inline-block
.popupConfirm button
  margin 10px
  width calc(50% - 20px)
  height 35px
  background-color button-color
  border 2px solid button-border-color
.popupConfirm label
  float left
.popupConfirm input
  float right
.roomUsers
  max-height 250px
  width 100%
  display inline-block
  overflow-y scroll
  word-break break-all
  
.userTile
  width 210px
  height 120px
  //background-color grey
  word-break break-all
  margin 5px
  display inline-block
.userTile div
  height 100px
  width 100px
  display inline-block
.userTile div img
  max-width 100px
  max-height 100px
  border-radius 5px
  cursor pointer
.userAuth
  overflow-y initial
.changeUserForm
  width 300px
  max-width 300px
  display inline-block
.changeUserForm form label
  float left
.changeUserForm form input
  float right
.changeUserForm form button
  float right
  background-color button-color
  border 2px solid button-border-color
.colorTile
  border-radius 5px
  width 50px
  height 50px
  border 1px solid black
  float left
  cursor pointer
.strokeTile
  border-radius 5px
  width 50px
  height 50px
  //border 1px solid white
  float left
  cursor pointer
.strokeTile div
  width 100%
  border-radius 5px
  //border-bottom solid 1px white
.minStroke div
  height 25%
.smallStroke div
  height 50%
.greatStroke div
  height 75%
.maxStroke div
  height 100%
.btnEditorStroke span .strokeTile div
  background-color black
.btnSelectorPopup
  z-index 8
.btnSelectorPopup span
  font-size 35px

//IDs
#sidebarMain
  visibility visible
  
#sidebarUserBackend
  position absolute
  visibility hidden
#sidebarMessages
  position absolute
  visibility hidden
#sidebarCreateMessage
  position absolute
  visibility hidden
#sidebarFeedback
  position absolute
  visibility hidden
#sidebarChangeStatus
  position absolute
  visibility hidden
#sidebarChangeContent
  position absolute
  visibility hidden
#sidebarViewMessages
  position absolute
  visibility hidden
#sidebarUserSettings
  position absolute
  visibility hidden
  
#header
  position absolute
  right 0px
  top 0
  width 450px
  //background-color rgba(200,200,200,1)
  background-color main-color
  //height header-hight
  height 150px
  z-index 10
  border-bottom-left-radius sidebar-border-radius
#header
  color white
  font-weight bold
#content
  text-align center
  //height "calc(100% - %s)" %header-hight
  height 100%
#sidebarBackendSettings
  position absolute
  visibility hidden
#EditorCanvas
  //visibility hidden
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  //height "calc(100% - %s)" %header-hight

#white
  background-color rgb(235,235,235)
#lightgrey
  background-color rgb(170,170,170)
#darkgrey
  background-color rgb(85,85,85)
#black
  background-color rgb(0,0,0)
#pink
  background-color rgb(255,105,180)
#lightred
  background-color rgb(231,76,60)
#red
  background-color rgb(255,0,0)
#darkred
  background-color rgb(128,0,0)
#yellow
  background-color rgb(255,255,0)
#orange
  background-color rgb(255,165,0)
#darkorange
  background-color rgb(255,140,0)
#brown
  background-color rgb(139,69,19)
#yellowgreen
  background-color rgb(173,255,47)
#lightgreen
  background-color rgb(124,252,0)
#green
  background-color rgb(0,255,0)
#darkgreen
  background-color rgb(0,100,0)
#greenblue
  background-color rgb(0,250,154)
#lightblue
  background-color rgb(135,206,250)
#blue
  background-color rgb(65,105,225)
#darkblue
  background-color rgb(0,0,128)

#popupSelector
  //visibility hidden
  position absolute
  //width 300px
  //height 50px
  //overflow auto
  z-index 9
  //background-color white
#popup hr
  margin-top 5px
  argin-bottom 5px
#popup button
  background-color button-color
  border 2px solid button-border-color

#gifLayer
  position absolute
  left 0
  width 100%
  //height "calc(100% - %s)" %header-hight
  height inherit
  pointer-events none
  overflow hidden
#gifLayer img
  z-index 8
#imageDropLayer
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  pointer-events none
  overflow hidden
#loadingAnimation
  position absolute
  pointer-events none
  padding 3px
  background-color rgba(0,0,0,0.2)
  border-radius 3px
#settings
  position absolute
  //left sidebar-width+swiper-width+10px
  visibility hidden
  text-align left
#tabletSizePreview
  position absolute
  top 0
  left 0
  pointer-events none
  //color #454545
#uImg
  max-width 100%
  max-height 100%
  height inherit
  float right
#newBoard
  margin 0 auto
  position absolute
  visibility hidden
  left 50%
  width 400px
  display inline-block
#newRoomForm
  width 100%
#newRoomForm input
  width 300px
#newRoomForm textarea
  width inherit
  height 200px
  resize none
#popup
  position absolute
  width 50%
  top 50px
  //background-color white
  //background-color main-color
  background-color popup-color
  //color white
  font-weight bold
  color white
  min-width 475px
  z-index 13
  text-align center
  border-radius 10px
  display inline-block
#popup input
  color black
#popup #statusDiv
  display inline-block
  max-width 500px
#popup #statusDiv label
  float left
  margin  5px
#popup #statusDiv input
  float right
  margin 5px
#popup #statusDiv button
  background-color button-color
  border 2px solid button-border-color
  margin 5px
#popupBackground1
  z-index 11
#popupBackground2
  z-index 12
#userInfo
  width calc(100% - 150px)
  height inherit
  float left
  padding 10px
  word-wrap break-word
#userImage
  width 150px
  height inherit
  float left
#userImage img
  float right
  max-width 100%
  max-height 100%
  margin 0 auto
#userImage span
  font-size 100px
  text-align right
  padding-top 20px
  padding-right 20px
  width 100%
  color white
#userInfo hr
  margin-top 8px
  margin-bottom 8px
#userName
  font-weight bold
  font-size 15px
  padding 5px
  border-radius 2px
  background-color rgba(255,255,255,.2)
#userDescription
  padding 5px
#userDescription button
  background-color button-color
  border 2px solid button-border-color
#userStatus
  padding-left 5px
#userStatus div
  float right
  text-align right
#floaty
  position fixed
  width 350px
  //background-color rgba(255,255,255,.95)
  background-color popup-color
  color white
  top -350px
  border-radius 10px
  border 2px solid button-border-color
  pointer-events none
  z-index 14
  text-align center

#messageContainer
  height 100%
#messageContainer button
  margin 5px
  padding 0px
#messageContainer div
  overflow-y scroll
#userContainer
  overflow-y scroll
#sidebarMain .sidebarUpper button, #sidebarUserBackend .sidebarUpper button, #sidebarViewMessages .sidebarUpper button, #sidebarUserSettings .sidebarUpper button
  margin 5px
  width 80%
  height 45px
  word-break break-all
  background-color button-color
  border 0px
  color white
  border 2px solid button-border-color
#sidebarCreateMessage .sidebarUpper button, #sidebarChangeContent .sidebarUpper button, #sidebarFeedback .sidebarUpper button
  margin 5px
  background-color button-color
  border 2px solid button-border-color
  color white
#sidebarCreateMessage .sidebarUpper button span, #sidebarChangeContent .sidebarUpper button span, #sidebarFeedback .sidebarUpper button span
  font-size 50px
#editorPopup
  position absolute
  z-index 11
  //background-color button-color
  background-color white
  border-radius 5px
  
#twitterDiv
  position absolute
  pointer-events none
  cursor default
  right 0
  bottom 0
  z-index 9
#twitterDiv blockquote
  background-color rgba(255,255,255,.9)
#background
  cursor default
  pointer-events none
  position absolute
  top 0
  left 0
  overflow hidden
  z-index -1

//animations
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { 
      transform: scale(1) rotate(0deg);
    }
    to {
      transform: scale(1) rotate(360deg);
    }
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] 
  font-size 16px