html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body,
#wrapper {
  height: 100%;
}
.sidebar {
  position: absolute;
  height: 100%;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
  background-color: rgba(150,150,150,0.8);
  z-index: 10;
}
.sidebarContent {
  width: 200px;
  text-align: center;
  float: left;
  height: 100%;
}
.sidebarSwiper {
  width: 35px;
  height: 100%;
  left: 200px;
  text-align: center;
  vertical-align: middle;
  float: left;
  background-color: rgba(150,150,150,0.4);
  z-index: 10;
}
.sidebarLower {
  width: 200px;
  position: absolute;
  bottom: 0;
}
.close-sidebar {
  left: -200px;
}
.open-sidebar {
  left: 0px;
}
.strokeSizes {
  width: inherit;
  overflow: auto;
  background-color: rgba(255,255,255,0.2);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.stroke {
  float: left;
  margin: 2px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px;
  border-color: #808080;
  width: calc(25% - 6px);
  height: 25px;
}
.strokeBar {
  width: 100%;
  background-color: #808080;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.strokeMin {
  height: 25%;
}
.strokeSmall {
  height: 50%;
}
.strokeBig {
  height: 75%;
}
.strokeMax {
  height: 100%;
}
.colors {
  width: inherit;
  overflow: auto;
  background-color: rgba(255,255,255,0.2);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.colorContainer {
  float: left;
  margin: 2px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px;
  width: calc(25% - 6px);
  height: 25px;
  background-color: #fff;
}
#sidebarMain {
  visibility: visible;
}
#sidebarBackend {
  position: absolute;
  visibility: hidden;
}
#sidebarMessages {
  position: absolute;
  visibility: hidden;
}
#sidebarCreateMessage {
  position: absolute;
  visibility: hidden;
}
#sidebarFeedback {
  position: absolute;
  visibility: hidden;
}
#sidebarChangeStatus {
  position: absolute;
  visibility: hidden;
}
#sidebarChangeContent {
  position: absolute;
  visibility: hidden;
}
#sidebarViewMessages {
  position: absolute;
  visibility: hidden;
}
#sidebarBackendUserSettings {
  position: absolute;
  visibility: hidden;
}
#sidebarBackendRoomSettings {
  position: absolute;
  visibility: hidden;
}
#sidebarBackendLogs {
  position: absolute;
  visibility: hidden;
}
#header {
  background-color: #aaa;
  padding-left: calc(35px + 10px);
  height: 100px;
}
#content {
  background-color: #777;
  text-align: center;
  height: calc(100% - 100px);
}
#sidebarBackendSettings {
  position: absolute;
  visibility: hidden;
}
#EditorCanvas {
  visibility: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  height: inherit;
  height: calc(100% - 100px);
}
#white {
  background-color: #fff;
}
#lightgrey {
  background-color: #aaa;
}
#darkgrey {
  background-color: #555;
}
#black {
  background-color: #000;
}
#pink {
  background-color: #ff69b4;
}
#lightred {
  background-color: #e74c3c;
}
#red {
  background-color: #f00;
}
#darkred {
  background-color: #800000;
}
#yellow {
  background-color: #ff0;
}
#orange {
  background-color: #ffa500;
}
#darkorange {
  background-color: #ff8c00;
}
#brown {
  background-color: #8b4513;
}
#yellowgreen {
  background-color: #adff2f;
}
#lightgreen {
  background-color: #7cfc00;
}
#green {
  background-color: #0f0;
}
#darkgreen {
  background-color: #006400;
}
#greenblue {
  background-color: #00fa9a;
}
#lightblue {
  background-color: #87cefa;
}
#blue {
  background-color: #4169e1;
}
#violett {
  background-color: #000080;
}
