.textContent#settings
  .textContentUpper
  .textContentLower
    #boardSettings
      h2 Board Settings
      p board password setting(4er pin)
      button#getTabletDim save tablet dim
    hr
    #roomSettings
      h2 Set Board Room
      table#rooms.table-hover.ajaxTable
      #newRoom
